.img {
    text-align: center;
}
img_1 {
    /* Ширина изображения */
    width: 110px;
    /* Позиционирование относительно родительского элемента */
    position: relative;
    /* Отступ слева */
    
    /* Отступ снизу */
    bottom: -5px; 
    max-width: 100%; /* Делаем изображения адаптивными */
    height: auto; /* Сохраняем пропорции изображений */
  
  }